body{
    background-image: url('img/background.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 1100px;
    padding: 50px;
}
#title{
    margin-top: 300px;
    font-size: 50px;
    color: rgb(250, 139, 36);
}
.content{
    color: rgb(165, 94, 12);
}
#main-audio{
    margin: 30px auto;
    margin-bottom: 10px;
}
.main{
    text-align: justify;
    max-width: 500px;
}
.gift{
    width: 49%;
    height: 100px;
    display: inline-block;
}
.gift img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
p#result{
    color: rgb(2, 109, 109);
}
p#result.color-warning{
    color: red;
}
p.color-result{
    color: tomato;
}

